{% extends 'proyectoWebApp/base.html' %}

{%load static %}

{%block content %}
<div class="contenedorFormulario">
    {% if 'valido' in request.GET %}
    <p style="color: aliceblue;">Informacion enviada correctamente</p>
    {% endif %}
    <form action="" method="post" style="text-align: center;"> 
        {% csrf_token %}
        <table style="color:white;">
            {{miFormulario.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form>
</div>
<p style="color: aliceblue;">{{request.POST}}</p>
{% endblock %}